---
---
@import 'base';

header.page-header {
    background-color:#301934;;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    height: 225px;
    width: 100%;
    z-index:-1;
    color: #f9f5ec;
    text-align: center;
    display: block;
    padding: 3rem 4rem;
}

.page-header h1 {
    color: #f9f5ec;
}

.main-content h1,
.main-content h2,
.main-content h3 {
    color: #4B0082 !important;
}

