---
---
@import 'base';

header.page-header {
    background-color: #301934;
    background-image: url('/assets/images/background.png');
    background-size: cover;
    height: 140px;
    width: 100%;
    z-index:-1;
    color: #f9f5ec;
    text-align: center;
    display: block;
    padding: 2rem 3rem;
}

h3 {
    color: #4B0082 !important;
}

