<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{site.title}}</title>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
      <!-- Favicon start -->
       <meta name="msapplication-square70x70logo" content="//www.jpmorganchase.com/corporate/images/windows-tile-70x70.png" /> 
   <meta name="msapplication-square150x150logo" content="//www.jpmorganchase.com/corporate/images/windows-tile-150x150.png" /> 
   <meta name="msapplication-square310x310logo" content="//www.jpmorganchase.com/corporate/images/windows-tile-310x310.png" /> 
   <meta name="msapplication-TileImage" content="//www.jpmorganchase.com/corporate/images/windows-tile-144x144.png" /> 
   <meta name="msapplication-TileColor" content="#797A7D" /> 
   <link rel="apple-touch-icon-precomposed" sizes="152x152" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-152x152-precomposed.png" /> 
   <link rel="apple-touch-icon-precomposed" sizes="120x120" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-120x120-precomposed.png" /> 
   <link rel="apple-touch-icon-precomposed" sizes="76x76" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-76x76-precomposed.png" /> 
   <link rel="apple-touch-icon-precomposed" sizes="60x60" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-60x60-precomposed.png" /> 
   <link rel="apple-touch-icon-precomposed" sizes="144x144" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-144x144-precomposed.png" /> 
   <link rel="apple-touch-icon-precomposed" sizes="114x114" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-114x114-precomposed.png" /> 
   <link rel="apple-touch-icon-precomposed" sizes="72x72" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon-72x72-precomposed.png" /> 
   <link rel="apple-touch-icon" sizes="57x57" href="//www.jpmorganchase.com/corporate/images/apple-touch-icon.png" /> 
   <link rel="icon" sizes="228x228" href="//www.jpmorganchase.com/corporate/images/coast-icon-228x228.png" /> 
   <link rel="shortcut icon" href="//www.jpmorganchase.com/corporate/images/favicon.ico" /> 
   <link rel="icon" type="image/png" sizes="64x64" href="//www.jpmorganchase.com/corporate/images/favicon.png" /> 
   <!-- Favicon stop -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/default.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

    <header class="page-header" role="banner">
      <img class="project-logo" src="/assets/images/logo-white.png" />
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <br>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">GitHub</a>
      {% endif %}
        <a href="/projects" class="btn">Projects</a>
        <a href="/contact" class="btn">Contact</a>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a></span>
      </footer>
    </main>
  </body>
</html>
